* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title {
  /* identical to box height, or 110% */
  position: absolute;
  width: 672px;
  height: 79px;
  left: 164px;
  top: 100px;
  font-size: 72px;
  line-height: 79px;
  color: #373a3c;
}

.result-container {
  position: absolute;
  width: 80vw;
  left: 164px;
  top: 347px;
  font-size: 54px;
  line-height: 72px;
  /* identical to box height, or 133% */
  color: #373a3c;
}

.input-form {
  /* identical to box height, or 100% */
  position: absolute;
  left: 169px;
  top: 236px;
  font-size: 24px;
  color: #373a3c;
  width: 80vw;
}

.col-input-text {
  padding-right: 0px !important;
}

.col-input-form {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.result {
  font-weight: bold;
  text-decoration: underline;
  padding-left: 10px;
  max-width: none !important;
}

.result .error-42 {
  color: #d9534f;
  font-weight: normal;
  text-decoration: underline white !important;
  max-width: none !important;
}

.col {
  padding-right: 0px !important;
}

.loader {
  border: 4px solid black;
  border-radius: 50%;
  border-top: 4px solid #f3f3f3;
  width: 28px;
  height: 28px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader-container {
  top: 28px;
  left: 1vw;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fib-fifty-or-more {
  position: absolute;
  width: 165px;
  height: 30px;
  left: 26.6%;
  top: 285px;
  background: #f2dede;
  border: 1px solid #ebcccc;
  border-radius: 4px;
  color: #a94442;
  font-size: 16px;
}

.form-error {
  border-color: #d9534f !important;
  color: #d9534f !important;
}

#fibSavedResults {
  position: absolute;
  width: 1088px;
  height: 24px;
  left: 164px;
  top: 459px;
}

.results-wrapper {
  border-bottom: 1px solid black;
  padding: 10px 0px;
  width: 65%;
}
