* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title {
  /* identical to box height, or 110% */
  position: absolute;
  width: 672px;
  height: 79px;
  left: 164px;
  top: 100px;
  font-size: 72px;
  line-height: 79px;
  color: #373a3c;
}

.input-form {
  /* identical to box height, or 100% */
  position: absolute;
  left: 169px;
  top: 236px;
  font-size: 24px;
  color: #373a3c;
}

.col-input-text {
  padding-right: 0px !important;
}

.col-input-form {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.result {
  font-weight: bold;
  text-decoration: underline;
}

.col {
  padding-right: 0px !important;
}
